{% extends "Base.html" %}
{% block title %}request{% endblock %}

{% block content %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                {% if category == 'error' %}

                    <div class="alert alert-danger alert-dismissable fade show" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert">
                            <span aria-hidden="true">&times;</span>

                        </button>
                    </div>
                {% else %}
                    <div class="alert alert-success alert-dismissable fade show" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert">
                            <span aria-hidden="true">&times;</span>

                        </button>
                    </div>

                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/createAccount.css') }}">
    <div id="createAccountDiv">
        <h1>Create Account</h1>
        <form method="POST">
            <div class="mb-3">
                <input type="text" class="form-control" id="firstName" name="firstName" placeholder="First Name">
                <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Last Name">
                <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com">
                <input type="text" class="form-control" id="address" name="address" placeholder="Full address">
                <input type="text" class="form-control" maxlength="9" id="eID" name="VNumber"
                       placeholder="eID(Ex. V412312 ">
                <input type="text" class="form-control" id="username" name="username" placeholder="Enter a username">
                <input type="password" class="form-control" id="password" name="password"
                       placeholder="Password must have 10 characters">
                <input type="text" class="form-control" id="phonenumber" name="phoneNumber"
                       placeholder="Phone number (Ex. 123-123-1234)">
                <input type="text" class="form-control" id="dob" name="dateOfBirth"
                       placeholder="Date Of Birth (Ex. YYYY-MM-DD)">
                <input type="text" class="form-control" id="discordUName" name="discordUName"
                       placeholder="Discord username (Ex. discordname#1234)">
            </div>
            <button type="submit" id="submit" class="btn btn-default btn-lg">Create Account</button>
        </form>
    </div>

{% endblock %}