{% extends "Base.html" %}
{% block title %}Add Course{% endblock %}

{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            {% if category == 'error' %}

        <div class="alert alert-danger alert-dismissable fade show" role="alert">
                {{ message }}
            <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>

            </button>
        </div>
        {% else %}
    <div class="alert alert-success alert-dismissable fade show" role="alert">
                {{ message }}
            <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>

            </button>
        </div>

    {% endif %}
    {% endfor %}
    {% endif %}
    {% endwith %}

<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/meetings.css') }}">

<form method="POST">
        <div class="mb-3" id="AllMeetingsDiv">
            {% for meeting, conflicts in zip(meetings, conflicts) %}
            {% if conflicts|length != 0%}
                <div class="MeetingWithConflict">
                {% set linkClass = 'ConflictLink' %}
            {% else %}
                <div class="MeetingDiv">
                {% set linkClass = 'NoConflictLink' %}
            {% endif %}
                {{meeting.group_name}}
                <br>
                {{meeting.duration_to_str()}}
                {% if conflicts|length != 0 %}
                    &nbsp;&nbsp;&nbsp;&nbsp;
                <i>
                Conflicts with {{conflicts|length}} other
                    {% if conflicts|length == 1 %}
                        meeting
                    {% else %}
                        meetings
                    {% endif %}
                </i>
                {% endif %}
                <br>

                {% if meeting.get_meeting_type() == 'In-Person' %}
                    {{meeting.get_meeting_type()}} at {{meeting.get_meeting_location()}}
                    <br>
                    <a target="_blank"
                       rel="noopener noreferrer"
                       href="https://maps.google.com/?q={{meeting.get_meeting_location()}}"
                        class="{{ linkClass }}">
                        Get directions
                    </a>
                {% elif meeting.get_meeting_type() == 'Online' %}
                    {{meeting.get_meeting_type()}} at
                    <a target="_blank"
                       rel="noopener noreferrer"
                       href="{{meeting.get_meeting_location()}}"
                       class='{{linkClass}}'>
                        {{meeting.get_meeting_location()}}
                    </a>
                {% endif %}
            </div>
            {% endfor %}
        </div>

        {% if meetings|length == 0 %}
            <div> <span id="NoUpcomingMeetingsSpan"> You don't have any upcoming meetings </span> </div>
        {% endif %}

        <div>
            <button type="submit" class="btn btn-default btn-lg" id="ScheduleMeetingButton" name="ScheduleMeetingButton" value="ScheduleMeetingButton"> Schedule a Meeting </button>
        </div>
    </form>
{% endblock %}