<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Karla&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../static/styles/scheduler_template.css" />
  <script src= "../static/scripts/scheduler_template.js"></script>

</head>


<body>
    <div class="timetable">
      <div class="week-names">
        <div>monday</div>
        <div>tuesday</div>
        <div>wednesday</div>
        <div>thursday</div>
        <div>friday</div>
      </div>
      <div class="time-interval">
        <div>8:00 - 10:00</div>
        <div>10:00 - 12:00</div>
        <div>12:00 - 14:00</div>
        <div>14:00 - 16:00</div>
        <div>16:00 - 18:00</div>
        <div>18:00 - 20:00</div>
      </div>
      <div class="content">
        <div class="calendarSquare">
          <div class="accent-orange-gradient"></div>
        </div>
        <div class="calendarSquare"></div>
        <div class="calendarSquare"></div>
        <div class="calendarSquare"></div>
        <div class="calendarSquare">
          <div class="accent-green-gradient"></div>
        </div>
        <div class="calendarSquare"></div>
        <div class="calendarSquare"></div>
        <div class="calendarSquare"></div>
        <div class="calendarSquare">
          <div class="accent-cyan-gradient"></div>
        </div>
        <div class="calendarSquare"></div>
        <div class="calendarSquare">
          <div class="accent-pink-gradient"></div>
        </div>
        <div class="calendarSquare"></div>
        <div class="calendarSquare">
          <div class="accent-purple-gradient"></div>
        </div>
        <div class="calendarSquare"></div>
        <div class="calendarSquare"></div>
        <div class="calendarSquare"></div>
        <div class="calendarSquare"></div>
        <div class="calendarSquare"></div>
        <div class="calendarSquare"></div>
        <div class="calendarSquare"></div>
        <div class="calendarSquare">
          <div class="accent-purple-gradient"></div>
        </div>
        <div class="calendarSquare"></div>
        <div class="calendarSquare"></div>
        <div class="calendarSquare"></div>
        <div class="calendarSquare"></div>
        <div class="calendarSquare"></div>
        <div class="calendarSquare"></div>
        <div class="calendarSquare"></div>
        <div class="calendarSquare"></div>
        <div class="calendarSquare"></div>
      </div>
    </div>
</body>

</html>
